* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 50px;
}
.header h3{
    text-align: center;
    font-size: 10px;
    fontcolor: #3aa9bc;
}
.content {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content label {
    display: block;
    margin-bottom: 10px;
}

.content input,
.content select,
.content button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.content button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}